{% extends 'main/layout.html'%} 
{% block title%} Новости {% endblock %} 
{% block content%}
<div class="features">
  <div class="container">
    <div class="news">
      <h1>Заметки</h1>
      {% if news%}
        {%for el in news%}
        <div class="alert alert-warning">
          <h3>{{el.title}}</h3>
          <p>{{el.anons}}</p>
          <div class="news_date"><p>{{el.date}}</p></div>
          <a href="{% url 'news-detail' el.id%}" class="btn btn-warning">Показать полностью</a>
        </div>
        {% endfor %}
      {% else %}
        <div class="none"><p>На данный момент никаких записей нет.</p></div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}