body{
    background: #2c2c2c;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 1px solid #fdbe00;
    
}
aside:hover{
    box-shadow:  0  0 10px 0 #fdbe00;
}

aside img{
    width: 80px;
    height: 80px;
}

aside ul{ 
    margin-top: 30px; 
    padding-left: 0;
    margin: 25px auto;
}
aside a, aside li{
    list-style: none;
    font-size: 22px;
    background-color: #5b5b5b;
    text-align: center;
    border-radius: 4px;
    margin-top: 25px;
    padding: 5px 0;
}
.btn-info{
    color: #ffffff;
    background-color: #508cfc;
    border: 1px solid #508cfc;
}
.btn-info:hover{
    background-color: #679af8;
    border: 1px solid #679af8;
}
a{
    text-decoration: none;
   color: #fff;
}

aside a:hover, aside li:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.02);
    
    transition: 100ms ease-in;
    background-color: #c67474;
    box-shadow: 0px 0px 60px 0px #ff0000;  
}

aside a:active, aside li:active{
    background-color: #e04b4b;
    color: #e1e0e0;
}

#btn-li{
    padding: 0;
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 300px;
    justify-content: center;
}

#btn-li:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.03);
    transition: 50ms ease-in;
    box-shadow: none;
    background-color:transparent;
    box-shadow: 0px 0px 80px 0px #007bff; 
}


.logo{
    font-size: 50px;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: +15px;
    color: #c27676;
    cursor: pointer;   
}


h3{
    margin-top: 5vh;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: #e2d492;
    font-weight: bold;
}

main .features{
   color: #fff;

   text-align: center;
   float:right;
   width: 80%;
}

main .container{
}

main .features h1{
    font-size: 50px;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


main .features p{
    max-width: 470px;
    margin: 20px auto;
}

.alert-warning{
    justify-content: center;
    width: 550px;
    margin: 25px 30%;
    text-align: left;
    clear: both;
    background-color: #fdf8e6;
}

main .news h3{
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
}
main .news p{
    color: #342604;
    font-size: 18px;
}

main .none p{
    color:#ffd900;
    font-size: 20px;
}
main .news_date p{
    color:#0f023f;
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}

 .btn-primary{
    font-size: 22px;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    background-color: #ffbb00;
    color: #000;
    border: none;
}

.btn-primary:hover{
    background-color: #489ef3;
    color: #ffffff;
    border: none;
}


main .news a{
    width: 50px;
    height: 50px;
    margin-top: 0;
}
main .news h1{
    width: 400px;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

main .btn-success{
    font-size: 18px;
    padding: 7px 20px;
    margin-top: 20px;
}

main .news a{
    width: 160px;
    font-size: 14px;
    height: 35px;
    text-align: center;
}