{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/login.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div id="content" class="flex">
            <div class="">
            
            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="card">
                            <div class="card-header"><strong>Login to your account</strong></div>
                            <div class="card-body">
                                <form  method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="text-muted" for="exampleInputEmail1">Email address</label>
                                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> 
                                        <small id="emailHelp" class="form-text text-muted">We don't share email with anyone</small>
                                    </div>

                                    <div class="form-group">
                                        <label class="text-muted" for="exampleInputPassword1" >Password</label>
                                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> 
                                        <small id="passwordHelp" class="form-text text-muted">your password is saved in encrypted form</small>
                                    </div>
                                    

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                            <label class="form-check-label">Check me 0.0.out</label>
                                        </div>
                                    </div>
                                    {{ form.errors }}
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>